body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-image: url(hd-up.JPG);
}

a {
  text-decoration: none;
}
.wrapper {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  background-color: orange;
  opacity: 0.8;
  height: auto;
  width: 1170px;
  position: fixed;
  display: flex;
}
.title {
  padding-left: 10px;
  box-sizing: border-box;
}
.menu li{
float: left;
padding-left: 50px;
list-style:none;
font-size: 18px;
font-weight: bold;
}
.top {
  background-image: url(hd-top.jpg);
  color: white;
  background-size: cover;
  padding: 170px 20px;
}
h1 {
  font-size: 55px;
}
.container {
  display: flex;
}
.main {
  background-image: url(bg001.gif);
  width: 60%;
  padding-bottom: 15px;
}
.main-wrapper {
  padding: 0 15px;
  height: 380px;
}
.side {
  background-image: url(bg067.gif);
  color: white;
  width: 40%;
  padding-left: 15px;
  position: relative;
}
footer {
  padding:20px;
  background: #506868;
  color: white;
}
h2 {
  background: #696969;
  color: #FFD700;
  padding-left: 15px;
  padding-top: 3px;
}
.spec {
  width:200px;
  height: 100px;
  float:right;
}
.side-wrapper {
  margin-top: 5px;
  padding: 0 20px;
  font-size: 18px;
  position:absolute;
  top: 75px;
  left:20px;
  width: 450px;
  height: 300px;
  overflow-y: scroll;
  box-sizing: border-box;
}
.none {
  list-style: none;
}
h4 {
  font-size: 22px;
  border-bottom: 2px solid #006400;
  padding-bottom: 5px;
}

