body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-image: url(hd-up.JPG);
}

.container {
  width: 78%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.res {
  display: none;
}

.header {
  background-color: rgba(255, 165, 0, .8);
  height: 45px;
  width: 78%;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 10;
}

.header_inner {
  position: absolute;
  float: left;
  margin-top: -15px;
}

.hamburger {
  display: none;
}

.title {
  float: left;
  position: absolute;
  left: 20px;
  top: 15px;
}

.nav li {
  float: left;
}

.nav_list {
  margin-top: 28px;
  margin-left: 130px;
  text-align: right;
}

.nav_list li {
  text-align: right;
  padding-left: 50px;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper {
  color: white;
  width: fixed;
  padding: 170px 20px;
}

.res_img {
  display: none;
}

.intro {
  width: 67%;
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#login {
  font-weight: bold;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  position: absolute;
  top: 27%;
  right: 5%;
}

.bg-switcher {
  width: 100%;
  height: flex;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 55px;
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.container2 {
  display: flex;
}

.main {
  background-image: url(bg001.gif);
  width: 60%;
  padding-bottom: 15px;
}

.main-wrapper {
  padding: 0 15px;
  position: relative;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.br-sp {
  display: none;
}

#main_img {
  margin: 0 10px;
}

.hdlogo {
  text-align: end;
  position: absolute;
  top: 2%;
  left: 78%;
}

.side {
  background-image: url(bg067.gif);
  color: white;
  width: 40%;
  padding-left: 15px;
  position: relative;
}

hr {
  border: 1.5px solid #006400;
  position: relative;
  top: -15px;
}

footer {
  font-size: 12px;
  padding: 15px 20px;
  background: #506868;
  color: white;
}

h2 {
  background-color: rgba(69, 69, 69, 0.6);
  color: #FFD700;
  padding-left: 15px;
  padding-top: 3px;
}

.side-wrapper ul {
  margin-top: 5px;
  padding: 0 20px;
  font-size: 16px;
  width: 95%;
  overflow-y: scroll;
  box-sizing: border-box;
}

#none {
  list-style: none;
}

h4 {
  font-size: 25px;
  line-height: 25px;
}

@media screen and (max-width: 600px) {
  *{
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
  }

  .nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 250px;
    height: 100vh;
    line-height: 3em;
    padding-top: 60px;
    background-color: #fff;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
  }

  .hamburger {
    display: block;
    text-align: end;
    position: absolute;
    top: 25%;
    left: 85%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }

  .nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav_item {
    text-align: center;
    padding: 0 14px;
  }

  .nav_item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #114d60;
    text-decoration: none;
    color: #333;
  }

  .nav_item a:hover {
    background-color: #eee;
  }

  .hamburger_border {
    position: absolute;
    left: 15px;
    width: 22px;
    height: 2px;
    background-color: #333;
    transition: all .6s;
  }

  .hamburger_border_top {
    top: 7px;
  }

  .hamburger_border_center {
    top: 13px;
  }

  .hamburger_border_bottom {
    top: 19px;
  }

  .black_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }

  .nav-open .nav {
    right: 0;
  }

  .nav-open .black_bg {
    opacity: .8;
    visibility: visible;
  }

  .nav-open .hamburger_border_top {
    transform: rotate(405deg);
    top: 20px;
  }

  .nav-open .hamburger_border_center {
    width: 0;
    left: 50%;
  }

  .nav-open .hamburger_border_bottom {
    transform: rotate(-405deg);
    top: 20px;
  }

  .header_inner {
    position: relative;
    top: -10px;
    left: -40px;
  }

  .title {
    padding: 12px 30px;
  }

  .nav_list {
    text-align: right;
  }

  .nav_list li {
    display: inline-block;
    text-align: right;
    padding-left: 600;
  }

  #login {
    left: 70%;
  }

  .res {
    display: block;
    position: inherit;
    margin-top: 45px;
    margin-bottom: -10px;
  }

  .image-vw {
    width: 100vw;
  }

  .top {
    position: relative;
  }

  h1 {
    font-size: 40px;
  }

  .intro {
    width: 82%;
    box-sizing: border-box;
  }

  .container2 {
    flex-direction: column;
  }

  .main,
  .side {
    width: 100%;
    clear: left;
  }

  .br-sp {
    display: block;
  }

  .main-wrapper {
    padding-left: 15px;
  }

  #main_img {
    float: left;
    display: block;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }
  
  #main_img .image-vw {
    width: 70vw;
  }

  .main-wrapper li {
    width: 50%;
    float: left;
  }

  .hdlogo {
    text-align: end;
    position: absolute;
    top: 0;
    left: 60%;
    margin-top: -15px;
  }

  .clear {
    clear: left;
  }

  .top {
    height: flex;
  }

  .top-wrapper {
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
  }
}

#form {
  margin-left: 30px;
  font-size: 18px;
}

label {
  color: #FFD700;
  display: block;
}

#submit {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(206, 86, 17);
  color: #fff;
}

textarea {
  font-size: 22px;
}

.tuikaform {
  background-color: rgba(158, 61, 61, 0.8);
  color: #FFD700;
  padding-left: 15px;
  padding-top: 3px;
  font-size: 30px;
  text-shadow: 3px 3px #000;
}
